* {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

body {
    width: 100%;
    background: #ffeeee;
    margin: 0;
}

h2 {
    color: #e63c35;
    margin-bottom: 16px;
}

.container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 30%;
}

p {
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 1.5;
}

#header {
    width: 100%;
    overflow: hidden;
    background: #e63c35;
    padding: 6px 0px;
    position: fixed;
    z-index: 2;
}

nav {
    overflow: hidden;
}

nav ul {
    text-align: center;
}

nav li {
    list-style-type: none;
    margin-top: 2px;
    display: inline-block;
}

nav a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    margin: 14px 16px;
    transition: 0.3s;
    border-bottom: 2px solid #e63c35;
}

nav a:hover {
    border-bottom: 2px solid #f9f9f9;
    font-weight: 500;
}

#main {
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 30%;
    text-align: center;
    line-height: 40px;
}

#main span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 300px;
    text-align: center;
}

#main h2 span {
    background: #e63c35;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.content {
    height: 100vh;
    padding-bottom: 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    position: relative;
}

#contents1,
#contents2 {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

.area {
    padding-top: 40vh;
    padding-left: 25vh;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.0px;
}

#contents1 {
    background-image: url(canoe.JPG);
    background-size: cover;
    color: #000;
}

#contents1 span {
    position: absolute;
    right: 25vh;
    text-shadow: 2px 2px 2px #fff;
}

#contents2 {
    background-image: url(background_miffy.JPG);
    background-size: cover;
    color: #fff;
}

#contents2 span {
    text-shadow: 2px 2px 2px #000;
}

h1.text {
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    font-weight: 400;
    border-bottom: 6px solid #e63c25;
    height: 64px;
}

#scroll,
#topbutton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 60px;
    color: #fff;
}

#scroll span,
#topbutton span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

#scroll span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#topbutton span {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.title {
    padding-top: 10%;
    padding-bottom: 4%;
    text-align: center;
}

.photo li {
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    border: solid 10px #ffeeee;
}

.photo {
    display: flex;
    margin: 0 auto;
    max-width: 930px;
}
